#menuContainer,
.menu-delete--inner {
  background: #F7F7F7;
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  border-radius: 0;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top: 1px solid rgba(34,36,38,.15);
}

.ui.segment.menu-delete {
  /*background: $c-theme-red;*/
}
.menu-delete--inner {
  position: absolute;
  justify-content: center;
  h2, .trash {
    pointer-events: none;
  }
  h2 {
    margin: 0;
  }
  .trash {
    font-size: 4em;
    line-height: 1;
    vertical-align: middle;
  }
}
