#menuContainer {
	display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
	text-align: center;
	justify-content: center;
	align-items: center;
	.trash {
		font-size: 4em;
		line-height: 1;
		vertical-align: middle;
	}
	.big-button {
		font-size: 2em;
	}
}

.menu-delete {
    background: red;
}
