.topic {
    padding: 10px;
    border: 1px solid #a80002;
    border-radius: 2px;
    display: inline-block;
}

td > div.tabletopic {
    padding: 0;
    text-align: center;
    border: 1px solid #a80002;
    height: 100%;
    width: 100%;
    display: inline-block;
}

td > div.highlight {
    background-color: #a80002;
}

#menuContainer > span.glyphicon-plus {
    color: #000000;
    font-size: 3.5em;
    text-align: center;
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 5px;
}

#menuContainer > span.glyphicon-trash {
    font-size: 3.5em;
    text-align: center;
    padding: 10px 10px 10px 9px;
    border: 3px solid #000000;
    border-radius: 5px;
}

#menuContainer > span.glyphicon-trash.highlight {
    color: #FF0000;
    border: 5px solid #FF0000;
}

td > span.glyphicon-trash {
    font-size: 1.5em;
    float: right;
}
th > span.glyphicon-trash {
    font-size: 1.5em;
    float: right;
}

#menuContainer {
    text-align: center;
}

.notice {
    font-size: 3em;
}
span.glyphicon-arrow-right {
    padding-right: 10px;
    padding-left: 5px;
}
span.glyphicon-arrow-left {
    padding-right: 5px;
    padding-left: 10px;
}
