.roomTime {
  background-color: #6d49cf;
  float: left;
  padding: 5px;
}
.topic {
  background-color: #b66360;
  float: left;
  padding: 5px;
}
.timeslot {
  border-style: ridge;
  border-color: #08ff00;
  border-width: 4px;
  float: left;
  padding: 3px;
}
.timeslot.selected {
  border-color: #ff0026;
}
