// Global Colors
$c-global-light: #E0E1E2;
$c-global-light-medium: #CCCCCC;
$c-global-light-dark: #BBBBBB;

// Global Borders
$c-global-light-border: 1px solid #C5C5C5;

// Topic Colors
$c-topic-red: red;
$c-topic-green: green;
$c-topic-yellow: yellow;
$c-topic-purple: purple;

// Semantic UI Theme Colors
$c-theme-red: rgba(219, 40, 40, 1.0);
$c-theme-orange: #FE9A76;
$c-theme-yellow: #FFD700;
$c-theme-olive: rgba(181, 204, 24, 1.0);
$c-theme-green: #016936;
$c-theme-teal: #008080;
$c-theme-blue: #0E6EB8;
$c-theme-violet: #EE82EE;
$c-theme-purple: #B413EC;
$c-theme-pink: #FF1493;
$c-theme-brown: #A52A2A;
$c-theme-grey: #A0A0A0;
$c-theme-black: #000000;

// Other Colors
$highlight-color: $c-global-light-dark;
